body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.schedule {
    width: 80%;
    margin: 30px auto;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header,
.row {
    display: grid;
    grid-template-columns: 3fr 4fr 2fr 1fr;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.header {
    background-color: #333;
    color: white;
    text-align: left;
    font-weight: bold;
}

.column {
    font-weight: 900;
    display: flex;
    align-items: right;

}

.destination {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.no {
    color: white;
height: fit-content;
    padding: 2%;
    text-align: center;
    border-radius: 12%;
    background-color: black;
    
}

.icon {
    padding: 12;
    margin-left: 10%;
    width: 60px;
    height: 30px;
    border-radius: 12%;
    margin-right: 10px;
}

.city {
    font-size: 16;
    font-weight: 700;
    margin-top: 5px;
}

.headsubtext {
    font-size: 12px;
    color: gray;
}

.subtext-wrapper {
    overflow: hidden;
    position: relative;
}

.subtext {
    font-size: 12px;
    font-weight: 600;
    color: gray;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    animation: scroll-text 60s linear infinite;
}



@keyframes scroll-text {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.row:hover {
    background-color: #f9f9f9;
}

@media (max-width: 768px) {
    .schedule {
        width: 95%;
        margin: 10px auto;
    }

    .header,
    .row {
        grid-template-columns: 1fr;
        padding: 5px;
    }

    .header {
        text-align: center;
    }

    .no {
        font-size: 14px;
        padding: 5px;
       
        margin-bottom: 10px;
    }

    .icon {
        width: 40px;
        height: 20px;
    }

    .city {
        margin-top: 2px;
    }
}